@page "/add"

<div class="container-fluid flex-center">

    <div>
        <h2>Add new password entry</h2>
        <EditForm Model="@_newPasswordEntry" OnValidSubmit="AddPasswordEntry">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label class="form-label">Url</label>
                <InputText @bind-Value="_newPasswordEntry.Url" class="form-control"></InputText>
            </div>

            <div class="form-group mt-3">
                <label class="form-label">Name</label>
                <InputText @bind-Value="_newPasswordEntry.Name" class="form-control"></InputText>
            </div>

            <div class="form-group">
                <label class="form-label">Note</label>
                <InputText @bind-Value="_newPasswordEntry.Note" class="form-control"></InputText>
            </div>

            <div class="form-group mt-3">
                <label class="form-label">Username</label>
                <InputText @bind-Value="_newPasswordEntry.Username" class="form-control"></InputText>
            </div>

            <div class="form-group">
                <label class="form-label">Password</label>
                <InputText type="password" @bind-Value="_newPasswordEntry.Password" class="form-control"></InputText>
            </div>

            <MudStack Row="true">
                <div class="form-group mt-3">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>

                <div class="form-group mt-3">
                    <button class="btn btn-primary" @onclick="Return" type="button">Return</button>
                </div>
            </MudStack>

            <ValidationSummary />
        </EditForm>

        @if (_addPasswordFailed)
        {
            <div class="alert alert-danger mt-3">
                Add password failed. Please try again.
            </div>
        }

    </div>
</div>
