@page "/register"

<PageTitle>Register</PageTitle>

<div class="container-fluid flex-center">
    <div>
        <h2>Register</h2>
        <EditForm Model="@RegisterForm" OnValidSubmit="RegisterClicked">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label class="form-label">Name</label>
                <InputText @bind-Value="RegisterForm.Name" class="form-control"></InputText>
            </div>
            <div class="form-group mt-3">
                <label class="form-label">Email</label>
                <InputText @bind-Value="RegisterForm.Email" class="form-control"></InputText>
            </div>
            <div class="form-group mt-3">
                <label class="form-label">Password</label>
                <InputText type="password" @bind-Value="RegisterForm.Password" class="form-control"></InputText>
            </div>
            <div class="form-group mt-3">
                <label class="form-label">Confirm Password</label>
                <InputText type="password" @bind-Value="RegisterForm.ConfirmPassword" class="form-control"></InputText>
            </div>
            <div class="form-group mt-3">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
            <ValidationSummary />
        </EditForm>
        @if (_registrationFailed)
        {
            <div class="alert alert-danger mt-3">
                Registration failed. Please try again.
            </div>
        }
        <MudText>After registration: request access from site owner to use application.</MudText>
    </div>
</div>
